.root {
	-fx-background-color: #43565c;
}

.button {
    -fx-text-fill: white;
 	-fx-font: italic 15 'monospaced';
   	-fx-background-color: linear-gradient(#1E90FF, #2A5058);
   	-fx-background-radius: 15;
    -fx-effect: dropshadow( three-pass-box , #66FFFF , 5, 0.3 , 5 , 5 ); 
    
}

.button:hover {
    -fx-background-color: linear-gradient(#334455, #7fff00);
    -fx-effect: innershadow(gaussian, rgba(1, 1, 1, 0.65), 10, 0.5, 0.0, 5.0);
    -fx-effect: dropshadow( three-pass-box , #FF6600 , 5, 0.3 , 5 , 5 );  
}

.kwadracik {
    -fx-effect: dropshadow( three-pass-box , #FFD700 , 5, 0.3 , 5 , 5 );
}

.obrazek {
	 -fx-effect: dropshadow( gaussian, #00CCFF , 30, 0.3 , 0 , 0 );  	
}